.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

/*	滚动条样式 	*/

::-webkit-scrollbar {    width: 0.1rem;}
::-webkit-scrollbar-track{border-radius: 5px; }
::-webkit-scrollbar-thumb{
	background: #424242;border-radius: 0.1rem;border: 1px solid #E1E1E3;
}

/*	login页	*/
.e_login{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: url(../assets/images/e_bg.jpg) no-repeat;
	background-size: cover;
}
.e_login .login_a{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 38.2%;
	font-size: 0.375rem;
	font-family: "微软雅黑";
}
.e_login_top_bg{
	position: absolute;
	top: 0;
	left: 0;
	height: 0.5rem;
	width: 100%;
	background: white;
	z-index: 9999;
	opacity: 0.3;
}
.e_login_top{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10000;
	width: 80%;
	height: 0.5rem;
	margin: 0 auto;
}
.e_login_top .logo{
	margin-top: 0.06rem;
	font-size: 0.125rem;
	background: white;
	padding: 0.1rem;
}
.e_login_top .e_login_btn{
	float: right;
	line-height: 0.5rem;
}
/*	login_in	*/
.e_login_in{
	width: 3.75rem;
	position: absolute;
	top: 38.2%;
	left: 0;
	right: 0;
	margin: auto;
}
.e_login_in > li{
	list-style: none;
	margin-bottom: 0.2rem;
	height: 0.375rem;
	text-align: center;
}
.e_login_in > li > span{
	display: inline-block;
	width: auto;
	font-size: 0.15rem;
	line-height: 0.375rem;
}
.e_login_in > li > input{
	float: right;
	display: inline-block;
	width: 75%;
	height: 0.375rem;
	font-size: 0.15rem;
}
.e_login_in >li.e_login_in_btn{
	background: white;
	margin:0 auto;
	width: 20%;
	font-size: 0.15rem;
	line-height: 0.375rem;
	border-radius: 0.05rem;
}
/*		index		*/
div.user_main{
	position: absolute;
	top: 1rem;
	width:66%;
	height: auto;
	padding:30px 0;
	margin-left:17%;
}
div.user_main div.users_list,div.boards_list{
	width:100%;
	height:auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
 div.users_list div.leftbar{
	/*width:252px;*/
	width: 20%;
	height:auto;
	padding:12px;
	background: rgba(255,255,255,.5);
	padding: 0.1rem;
}
div.users_list div.leftbar > table{
	width: 100%;
}
div.users_list div.leftbar > table > tbody > tr{
	height: 0.3rem;
}
div.users_list div.leftbar > table > tbody > tr > td,div.users_list div.leftbar  > table > tbody > tr > th{
	padding-left: 0.1rem;
	height: 0.3rem;
	background: white;
	border: 1px solid #d8d8d8;
}
div.users_list div.leftbar > table > tbody > tr > td{
	background: #f9f9f9;
}

 /*centerbar*/
 div.users_list div.centerbar{
 	/*width:503px;*/
 	width: 40%;
 	height:auto;
 	box-sizing: border-box;
 	padding:15px 12px;
 	background:rgba(255,255,255,.5);
 }
 div.users_list div.centerbar span{
 	display: block;
 	height:auto;
 	margin-bottom: 12px;
 }
 div.users_list div.centerbar span b{
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
 }
  div.users_list div.centerbar span input{
  	/*width:478px;*/
  	height:35px;
  	border-radius: 5px;
  	border:1px solid #d8d5d0;
  }
  div.users_list div.centerbar span button{
  	padding: 10px;
  	background: #FFFFFF;
  	border:1px solid #d8d5d0;
  	border-radius: 5px;
  }
/*rightbar*/
 div.users_list div.rightbar{
 	/*width:490px;*/
 	width: 39.5%;
 	height:158px;
 	background: rgba(255,255,255,.5);
 	padding: 0.1rem;
 	box-sizing: border-box;
 }
 div.users_list div.rightbar > table{
	width: 100%;
	margin-bottom: 0.1rem;
}
div.users_list div.rightbar > table > tbody > tr{
	height: 0.3rem;
}
div.users_list div.rightbar > table > tbody > tr > td,div.users_list div.rightbar > table > tbody > tr > th{
	padding-left: 0.1rem;
	height: 0.3rem;
	background: white;
	border: 1px solid #d8d8d8;
}
div.users_list div.rightbar > table > tbody > tr > td{
	background: #f9f9f9;
}

  div.users_list div.rightbar span input{
  	/*width:408px;*/
  	width: 80%;
  	height:35px;
  	display: inline-block;
  }
  div.users_list div.rightbar button{
  	box-sizing: border-box;
  	width: 20%;
  	/*padding:7px 13px;*/
  	/*border-radius:5px ;*/
  	background:#fff;
  }
/*boards_left*/
div.boards_list{
	width:100%;
	display: flex;
	justify-content: space-between;
}
div.boards_list > div {
	padding: 0.1rem;
}
div.boards_left{
	width: 37%;
	background:rgba(255,255,255,.5);
	box-sizing: border-box;
}
/*div.boards_left table tr td,div.boards_left table tr th,div.boards_center table tr td,div.boards_center table tr th{
	border:1px solid #ddd;
	padding-left: 10px;
}*/
div.boards_left table{
	width: 100%;
}
div.boards_left  > table > tbody > tr{
	height: 0.3rem;
}
div.boards_left  > table > tbody > tr > td,div.boards_left  > table > tbody > tr > th{
	padding-left: 0.1rem;
	height: 0.3rem;
	background: white;
	border: 1px solid #d8d8d8;
}
div.boards_left  > table > tbody > tr > td{
	background: #f9f9f9;
}
div.boards_center{
	width: 25%;
	background:rgba(255,255,255,.5);
	box-sizing: border-box;
}
div.boards_center table{
	width: 100%;
}
div.boards_center > table > tbody > tr{
	height: 0.3rem;
}
div.boards_center > table > tbody > tr > td,div.boards_center  > table > tbody > tr > th{
	padding-left: 0.1rem;
	height: 0.3rem;
	background: white;
	border: 1px solid #d8d8d8;
}
div.boards_center > table > tbody > tr > td{
	background: #f9f9f9;
}
.boards_right{
	width: 37%;
	height: 5rem;
	overflow: auto;
	box-sizing: border-box;
	background:rgba(255,255,255,.5)
}
.boards_right > a{
	width: 100%;
	display: block;
	padding: 0.1rem;
	background: #e2e2e2;
}
.boards_right img{
	width: 100%;
	height: 100%;
}
.boards_right span{
	display: block;
	width:100%;
	height:45px;
	background:#e2e2e2;
	line-height:45px;
	padding-left:10px;
	margin:10px 0 0 0;
}


