<div class="e_index">
	<form name="outerForm" class="tab-form-demo">
    <uib-tabset active="activeForm">
      	<uib-tab index="0" heading="Users">
        	<ng-form name="nestedForm" class="e_box_one">
	          	<div class="e_users">
	          		<table border="" cellspacing="" cellpadding="">
	          			<tr><th>id</th><th>name</th></tr>
	          			<tr><td>1</td><td>lilei</td></tr>
	          			<tr><td>1</td><td>lilei</td></tr>
	          			<tr><td>1</td><td>lilei</td></tr>
	          			<tr><td>1</td><td>lilei</td></tr>
	          			<tr><td>1</td><td>lilei</td></tr>
	          		</table>
	          		 <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" direction-links="true"></ul>
	          	</div>
	          	<div class="e_compile">
	          		<ul>
		          		<li><p>Name</p><input type="text" class="form-control" /></li>
		          		<li><p>password</p><input type="password" class="form-control" /></li>
	          		</ul>
	          		<input type="button" class="btn btn-default" value="Edit"/>
	          		<input type="button" class="btn btn-default" value="Delete"/>
	          		<input type="button" class="btn btn-default" value="Create"/>
	          	</div>
	          	<div class="e_operate">
	          		<table border="" cellspacing="" cellpadding="">
	          			<tr><th>id</th><th>orgnization</th><th>operation</th></tr>
	          			<tr><td>1</td><td>1231</td><td>1</td></tr>
	          		</table>
	          	</div>
        	</ng-form>
      	</uib-tab>
      	<uib-tab index="1" heading="Orgnizations">
        	2
      	</uib-tab>
	    <uib-tab index="2" heading="Boards">
	       3
	    </uib-tab>
    </uib-tabset>
  </form>
</div>